In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [49]:
df = pd.read_csv('data.csv')
df = df.drop(columns=['Id', 'Name'])
df.sample(5)

   Franchise       Category       City  No_Of_Item  Order_Placed  Revenue
64       Yes    Varied Menu  Bengaluru          32           2.4  2551252
70        No  Italian/Pizza      Noida          47           3.8  3982767
55        No       Sandwich     Mumbai          79           6.8  6941173
53        No          Steak      Noida          61           5.4  5595267
80        No    Varied Menu  Bengaluru          42           3.5  3727364

In [50]:
la = LabelEncoder()
df['Franchise'] = la.fit_transform(df['Franchise'])
df['Category'] = la.fit_transform(df['Category'])
df['City'] = la.fit_transform(df['City'])

In [51]:
df.describe()

,Franchise,Category,City,No_Of_Item,Order_Placed,Revenue
count,100.00,100.000000,100.000000,100.000000,100.000000,1.000000e+02
mean,0.55,11.480000,1.510000,49.080000,4.086000,4.395161e+06
std,0.50,5.675537,1.507523,22.370923,2.055101,2.659932e+06
min,0.00,0.000000,0.000000,18.000000,1.000000,8.498700e+05
25%,0.00,7.000000,0.000000,34.750000,2.750000,2.688328e+06
50%,1.00,12.000000,1.500000,45.000000,3.650000,3.911401e+06
75%,1.00,16.250000,3.000000,57.250000,5.100000,5.330084e+06
max,1.00,19.000000,4.000000,126.000000,13.000000,1.969694e+07

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Franchise     100 non-null    int32
 1   Category      100 non-null    int32
 2   City          100 non-null    int32
 3   No_Of_Item    100 non-null    int64
 4   Order_Placed  100 non-null    float64
 5   Revenue       100 non-null    int64
dtypes: float64(1), int32(3), int64(2)
memory usage: 3.6 KB

In [53]:
df.isnull().sum()

Franchise       0
Category        0
City            0
No_Of_Item      0
Order_Placed    0
Revenue         0
dtype: int64

In [57]:
x = df.drop(columns=['Revenue'])
y = df['Revenue']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [61]:
from sklearn.linear_model import LinearRegression, Ridge,
lr = LinearRegression()
lr.fit(x_train, y_train)
y_pred = lr.predict(x_test)
print('Accuracy:', lr.score(x_test, y_test))

Accuracy: 0.8666223653128365